body {
    background-color: black;
    font-family: 'Creepster', cursive;
}

.navbar, .navbar-brand {
    font-size: 25px;
}

.jumbotron {
    text-align: center;
    background-color: gray;
    color: black;
}

.jumbotron img {
    width: 100%;
}